-
  const names = [
    "Офисы",
    "Промышленная зона",
    "Ремонтные работы",
    "Жилая зона",
    "Парк отдыха",
    "Cтроительная площадка",
  ]

  const table = [
    {
      name: "Собственник",
      text: "ООО «ГИСГИС»"
    },
    {
      name: "Арендатор",
      text: "ООО «ГИСГИС»"
    },
    {
      name: "Размер",
      text: "90х90х90"
    },
    {
      name: "Классификация",
      text: "Категория «А»"
    },
    {
      name: "Срок аренды",
      text: "5 мес."
    },
  ]

  const choises = [
    "Офисы",
    "Промышленная зона",
    "Ремонтные работы",
    "Жилая зона",
    "Строительная площадка",
    "Парк отдыха"
  ]

section.intro.section
  img(src="assets/images/intro/cloud.png" alt="Облака" class="intro__cloud")
  img(src="assets/images/intro/cloud.png" alt="Облака" class="intro__cloud")
  .intro__content.site-content-container
    .intro__content-block
      .intro__heading-text-wrapper
        .intro__heading-text
          | Анализ данных в системе
        .intro__heading-subtext
          p
            | Настроим продукт и автоматизируем все необходимые процессы на основе технического задания
    .intro__content-block
      .intro__text-mobile-wrapper
        h1.intro__content-heading
          | Внедряем геоинформационные системы для решения ваших задач
        .intro__content-text
          p
            | Внедряем платформу Geometa, настраивая продукт и автоматизируя все необходимые процессы на основе технического задания.
    .intro__select
      .intro__select-heading.js-select-heading
        span.intro__select-heading-text Офисы
        +icon-mono("arrow-top-bottom")(width="16" heihgt="16" class="intro__select-heading-icon")
      ul.intro__select-choises.js-select-list
        for item, index in choises
          - let isActive = index === 0 ? "is-active" : null
          li.intro__select-choise.js-select-choice(data-index=index class=isActive)= item

    .intro-layer.is-locked
      for item, index in names
        - let isFirst = index === 0 ? "is-active" : null
        .intro-layer__name.js-intro-names(class=isFirst)= item
          if index !== 0
            +loader("1rem", "1rem")

      .js-layer-container
        picture
          source(type="image/webp" srcset="assets/images/intro/layers/layer0_web.webp" alt="Layer")
          img(src="assets/images/intro/layers/layer0_0.png" alt="Layer" class="intro-layer__image js-intro-layer is-active")
        picture
          source(type="image/webp" srcset="assets/images/intro/colored-full.webp" alt="Layer")
          img(src="assets/images/intro/colored-full.png" alt="Layer" class="intro-layer__image _mobile")
      .intro-layer__tooltips
        .intro-tooltip.js-tooltip.is-choosen(style={"top": "29%", "left": "37%"} data-tooltip-index="0")
          button.intro-tooltip__btn
            span
            span
          .intro-tooltip__content
            .intro-tooltip__inner
              h4 Рекламный щит
              table
                for item in table
                  tr
                    td= item.name
                    td= item.text
        .intro-tooltip.js-tooltip.is-choosen(style={"top": "20%", "left": "67%"} data-tooltip-index="0")
          button.intro-tooltip__btn
            span
            span
          .intro-tooltip__content
            .intro-tooltip__inner
              h4 Рекламный щит
              table
                for item in table
                  tr
                    td= item.name
                    td= item.text
        .intro-tooltip.js-tooltip.is-choosen(style={"top": "31%", "left": "80%"} data-tooltip-index="0")
          button.intro-tooltip__btn
            span
            span
          .intro-tooltip__content
            .intro-tooltip__inner
              h4 Рекламный щит
              table
                for item in table
                  tr
                    td= item.name
                    td= item.text
        .intro-tooltip.js-tooltip(style={"top": "60%", "left": "85%"} data-tooltip-index="1")
          button.intro-tooltip__btn
            span
            span
          .intro-tooltip__content
            .intro-tooltip__inner
              h4 Рекламный щит
              table
                for item in table
                  tr
                    td= item.name
                    td= item.text
        .intro-tooltip.js-tooltip(style={"top": "68%", "left": "67%"} data-tooltip-index="2")
          button.intro-tooltip__btn
            span
            span
          .intro-tooltip__content
            .intro-tooltip__inner
              h4 Рекламный щит
              table
                for item in table
                  tr
                    td= item.name
                    td= item.text
        .intro-tooltip.js-tooltip(style={"top": "58%", "left": "49%"} data-tooltip-index="3")
          button.intro-tooltip__btn
            span
            span
          .intro-tooltip__content
            .intro-tooltip__inner
              h4 Рекламный щит
              table
                for item in table
                  tr
                    td= item.name
                    td= item.text
        .intro-tooltip.js-tooltip(style={"top": "59%", "left": "9%"} data-tooltip-index="4")
          button.intro-tooltip__btn
            span
            span
          .intro-tooltip__content
            .intro-tooltip__inner
              h4 Рекламный щит
              table
                for item in table
                  tr
                    td= item.name
                    td= item.textАF
        .intro-tooltip.js-tooltip(style={"top": "38%", "left": "29%"} data-tooltip-index="5")
          button.intro-tooltip__btn
            span
            span
          .intro-tooltip__content
            .intro-tooltip__inner
              h4 Рекламный щит
              table
                for item in table
                  tr
                    td= item.name
                    td= item.text

      .intro-layer__masks
        <svg class="intro-layer__mask" width="1178" height="836" viewBox="0 0 1178 836" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="mask-path js-mask-path" data-index="3" opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M779.349 526.188L811 544.659L735.224 588.338L678.503 621.127L721.942 644.358C695.633 663.167 604.897 715.355 558.635 741.964L558.63 741.967L558.627 741.968L558.617 741.974C552.212 745.658 546.66 748.851 542.251 751.397L616.534 794.188V820L454.323 726.674L438 717.04C433.115 720.105 422.39 725.948 419.927 725.585C419.403 726.714 408.583 720.906 396.956 714.292C396.27 714.534 395.826 714.292 395.584 713.889C395.099 713.848 394.776 713.526 394.655 713.001C394.272 712.78 394.05 712.65 393.828 712.521C393.606 712.391 393.384 712.262 393 712.04C393.04 712.363 393.04 712.798 393 713.04C392.919 714.815 390.901 715.018 389.326 714.05C387.752 713.082 386.541 710.864 386.621 709.089C386.662 708.847 386.702 708.646 386.783 708.444C385.338 707.602 383.902 706.745 382.516 705.917L382.512 705.915C381.11 705.077 379.758 704.27 378.5 703.54L370 698.54C369.798 699.105 369.96 701.516 370 702.04C370 702.455 370.013 702.906 370.027 703.376C370.08 705.17 370.14 707.23 369.5 708.54C368.652 710.315 367 712.04 364 712.04C363.174 712.04 362.5 711.737 361.894 711.465C361.399 711.242 360.949 711.04 360.5 711.04V795.04C360.5 796.654 357.877 799.713 356.263 797.898C356.169 797.675 356.239 784.8 356.329 768.182C356.433 748.86 356.565 724.478 356.5 709.04C352.681 706.749 350.102 705.187 347.899 703.853L347.898 703.852L347.896 703.851L347.89 703.847C344.329 701.69 341.749 700.128 336.5 697.04L328.5 702.04L311.5 693.04V688.04V682.04C311.5 682.04 308.326 680.591 306 679.04C304.5 678.04 302.75 676.04 302.5 675.04C302.25 674.04 302 669.04 302 669.04L286 659.54C286 659.54 285.909 662.04 284.5 662.54C283.091 663.04 281.617 662.466 280 660.04C279 658.54 280 656.04 280 656.04L273.5 652.54C273.5 652.54 272.373 652.04 271.5 652.04C270 652.04 268.5 652.54 268.5 652.54L258 658.54C258 658.54 253.5 662.04 249.5 662.04C247 662.04 244.5 660.54 244.5 660.54L235.5 655.04C235.5 655.04 234.265 655.673 233 655.04C232 654.54 232 653.54 232 653.54L222.5 648.04L204.751 658.191L184 670.371V644.56L270.071 594.549V594.63L270.151 594.67L352.629 546.797L354.688 541.917L357.877 543.732L465.062 481.42L467.969 474.524L472.49 477.105L593.603 406.767L609.105 415.035L608.177 410.397L612.133 404.146L616.735 401.04L624.971 405.638L629.896 422.738L626.101 430.482L619.561 432.902L626.424 436.895L629.896 427.578L635.266 442.017L636.477 442.743L638.818 439.032L643.421 435.927L651.656 440.524L655.532 453.874L676 465.812L677.615 461.456L680.118 468.192L691.018 474.564L692.35 470.934L694.449 476.58L705.995 483.316L710.598 470.894L717.784 490.212L765.179 517.88L770.912 502.433L779.39 525.26H779.309C779.349 525.583 779.39 525.905 779.349 526.188ZM416.5 720.5C418.801 721.831 421.461 722.278 423.763 720.906L434 715.04L375.5 681.04C375.5 681.04 373.5 682.54 372 684.04C371.127 684.914 370 686.54 370 687.54V694.04L396.5 709.04C400 706.54 400.081 710.677 400 711.04L400.5 711.54C400.714 711.754 401.368 712.181 402 712.54C411.729 718.066 416.5 720.5 416.5 720.5ZM270 620.5L307 642C305.5 643.167 302.5 646.3 302.5 649.5V664.5L287.5 656.5C287.833 655.833 288.1 654.4 286.5 654C284.9 653.6 284.167 653.833 284 654L274.5 648.5C272.667 648.167 268.2 648 265 650C261.8 652 255.333 655.833 252.5 657.5C251.167 657.833 248 658.2 246 657C244 655.8 239.167 653.167 237 652C237.167 651.5 237.2 650.3 236 649.5C234.8 648.7 233.833 649.167 233.5 649.5L226 645L270 620.5ZM372 679L311.5 644C310.833 644.333 309.1 645.3 307.5 646.5C305.9 647.7 305.833 650.667 306 652V671.5C306 673.9 306.666 674.833 307 675L312.5 678L321 673.5L337 682.5V692.5L345.5 697.5C346 697.167 347.5 696.1 349.5 694.5C350.3 692.5 351.5 692.5 352.5 693C353.166 692.5 355.1 691.1 357.5 691.5C359.9 691.9 360.5 694.167 360.5 695L360.5 704.5C360.5 706.5 361.5 708 364 708C365.422 708 365.833 706.667 366 706C366 700.5 366.1 688.8 366.5 686C366.9 683.2 370.333 680.167 372 679ZM356.5 697V704L349.5 700L351.5 698.5C351.5 699 352.2 699 352.999 699H353C354.375 699 355 697.5 355 696C355.106 695.947 355.206 695.894 355.3 695.845C356.1 695.422 356.5 695.211 356.5 697Z" fill="#27B7CA"/>
          <path class="mask-path js-mask-path" data-index="4" opacity="0.4" d="M614.5 417.5L594.5 406.5L415 511L310.5 450L308 441L300 436.5L296 438.5L294 440.5L231.5 405L220.11 411.446L216.874 402.781L211.86 416.243L209.434 417.653L205.552 404.192L198.03 400L193.824 402.821L190.225 408.504L191.115 412.978L186.303 420.596L189.457 427.77L191.074 428.173L183.795 432.365H183.755L179.387 434.904L164.425 443.529L160.705 433.533L154.962 449.01L135.713 460.054C135.552 459.409 135.349 458.804 135.147 458.2C134.743 456.829 134.177 455.459 133.408 454.21L133.368 461.424L77.562 493.547L77.6025 492.62L65.9965 499.23V500.197L61.5886 502.736L58.677 504.308C58.677 504.308 58.7174 504.308 58.7983 504.348L44.3616 512.651L43.1889 512.53L42.097 508.782L33.8475 504.187L29.2374 507.291L25.2744 513.538L26.2449 518.455L21.7158 525.669L0 537.812V564.5L184.5 670L270.739 619.982L271.386 594.469L292 607L523.5 474L614.5 417.5Z" fill="#27B7CA"/>
          <path class="mask-path js-mask-path" data-index="5" opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M217 413.5L313.5 469.5L285 486.5C284.333 487.667 283.7 490.4 286.5 492C289.3 493.6 341.667 523.667 367.5 538.5L271 594.5L292 607L490 493L545.5 460.5L602 425L555.5 398C550 399.833 536.7 403.4 527.5 403V400.5L497 383L467.5 399.5V386L427 362L426.5 312L388.5 289.5L383 292.5V289L376 284.5V235L387 241.5L395 237V227.5L305 176.5L303.5 178L302 177L284.5 186.5V197L302 206.5L313.5 199L314.5 199.5V266L307.5 270V274L314.5 278V345L241.5 386.5V399.5L217 413.5ZM374.5 234L335.5 211.5L336 260L346.5 266V283.5L337.5 288.5L336 287.5V333L350 324.5V312L368.5 301.5V283L370.5 281.5L374.5 284V234Z" fill="#27B7CA"/>
          <g clip-path="url(#clip0_0_3)">
          <path class="mask-path js-mask-path" data-index="0" opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M869 180.5L832 158.5L794.5 180.5V310.5L775 323V273L758 263V245L731.5 229.5L703.5 245V254L689 245L683.5 226.5L676 222.5L672 224.5L668 230.5V233L661.5 229.5V70.5L653.5 66V65L646 60V56L630 46.5L629.5 3H628.5V46.5L612.5 56V60L604.5 65V66L596 70.5V193L588 188.5V167.5L558.5 149.5V108.5L523 88L488 108.5V263.5H471C471.333 262.167 471.8 259.1 471 257.5C478.6 253.1 482.167 251 483 250.5L482.5 211.5L480.5 210L475 213L473.5 211.5L471.5 213V215H470.5V153.5C469.833 147.667 462.6 136 439 136C409.5 136 403.5 147.5 403 153.5C402.6 158.3 402.833 207.5 403 231.5L402 263V284.005L388.5 276L383 280L376 285L383 289V292.5L389 289.5L426.5 312L427 362C427 362 438.913 369.707 445.5 373C452.087 376.293 467.5 385.5 467.5 385.5V399.5L496.5 383C496.5 383 514.166 392.272 527 400.5C527.501 400.821 527.501 401.449 527.5 402.385L527.5 402.5C538.196 403.784 548.184 400.432 553.329 398.705C554.197 398.414 554.927 398.169 555.5 398L582 414L585 412L925.5 614L949 601.5L680.5 445.5L749.5 406C765 397 797.3 378.2 802.5 375C807.7 371.8 804.667 367.667 802.5 366L789.5 358.5L794.5 355L832.5 377.5L869 356V180.5ZM994.5 230C978.32 220.528 956.333 213.333 947 211.5L941.5 204.5L928.5 197V210C925.167 210.167 918 210.8 916 212C916 214 917.333 219.167 918 221.5L909 227L921.5 234.5H924L928.5 241L929 246.5L931.5 244.5C933.5 247 938.9 253.2 944.5 258C944 263.5 955.5 271 959.5 273.5C963.5 276 964.5 275.5 967.5 273.5C994.5 293 1015.5 287.5 1030 279C1031.5 256 1015 242 994.5 230ZM694.5 240.5L692.5 235.5L695.5 230.5L695 227L700 222L705.5 224.5L706.5 229.5L708.5 235L706 240L700.5 242V245.5H699.5V242L694.5 240.5Z" fill="#27B7CA"/>
          </g>
          <path class="mask-path js-mask-path" data-index="1" opacity="0.4" d="M1178 469.5L1018.5 377V367L981 344.5L917.5 381L900.5 371L896 355.5L888.5 351.5L884.5 354.5L881 359.5L874.5 356L871.5 348L869 356L832.5 376.5L795 355L790.5 358.5C793 359.833 798.6 363.3 803 366.5C807.4 369.7 804.5 373.5 802.5 375L680.5 445.5L950 601L1178 469.5Z" fill="#27B7CA"/>
          <g clip-path="url(#clip1_0_3)">
          <path class="mask-path js-mask-path" data-index="2" opacity="0.4" d="M616 796L616.5 819.5C616.5 819.5 638 807 643.5 819.5C649 830.5 652.004 834.328 658.5 835.5C666 836.853 674 833.559 680 832.5C688.5 831 693.956 830.978 696.5 830C703 827.5 706.5 818.75 711 817.5C715.5 816.25 720 816.5 724.5 800.5C725.939 795.383 723.5 790.5 725.5 783C726.895 777.768 729 776 731.5 771C734 766 737.5 768.5 743 768.5C743 768.5 760.5 768 759.5 747.5C759.279 742.978 763 741.5 765.5 738C766.936 735.99 767.5 732.5 767.5 732.5L1178 496.5V469.5L923.5 615.5V597L880.5 572C880.333 571.833 880 571.3 880 570.5C881.6 569.3 885 562.333 886.5 559L887 558.5V557.5L875.5 542V538.5L868 533.5L863 536.5V538L856 539.5C855.167 540 853 541.4 851 543C851 545 848 549.833 846.5 552L808 530L674.5 607V623.5L704.5 640.5L687.5 650L686.5 649L681 654L672.5 658.5L540 735.5L539.5 752.5L616 796Z" fill="#27B7CA"/>
          </g>
          <defs>
          <clipPath id="clip0_0_3">
          <rect width="719" height="575" fill="white" transform="translate(316 45)"/>
          </clipPath>
          <clipPath id="clip1_0_3">
          <rect width="638" height="367" fill="white" transform="translate(540 469)"/>
          </clipPath>
          </defs>
        </svg>
